<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659447962891-427n3b02hajumf1d6qki0fk8qq6h1k0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659447962891-427n3b02hajumf1d6qki0fk8qq6h1k0u</string>
	<key>API_KEY</key>
	<string>AIzaSyA1GzKB7rfVWe5AeJWaUvFY1i5quG0nYe0</string>
	<key>GCM_SENDER_ID</key>
	<string>659447962891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>mywhatsapp-1115f</string>
	<key>STORAGE_BUCKET</key>
	<string>mywhatsapp-1115f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659447962891:ios:b3ca173381550ca0a6560e</string>
</dict>
</plist>